
@font-face{
    font-family: "Cafe Matcha";
        src:url ("/static/imgs/Cafe Matcha.ttf");
        
      .my-navbar {
  border: 0;
  border-radius: 0;
  background: grey;
}
}
table{
   width: 1%;
	height: 500px;
}
*{
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

:root{
    --red: #F26419;
    --orange: #F6AE2D;
    --dark-blue: #33658A;
    --light-blue: #86BBD8;
    --dark: #2F4858;
}

body{
    font-family: 'Roboto', sans-serif;
    
}


/* align container */
.container__center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

h1{
    font-family: 'Cafe Matcha';
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 2px;
    color: var(--dark);
}

p{
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 22px;
    margin: 2rem 0;
    color: var(--dark);
}

a{text-decoration: none;}

ul li{list-style: none;}

/* nav =============*/
#landing__area{
    width: 100%;
    height: 70vh;
    /*aca hiria un fonto*/
    background-position: center;
    background-size: cover;
}

#landing__area nav{
    height: 10%;
    width: 80%;
}

nav .logo{
    padding:0px 55px ;
    background: url(imgs/filled_pets_icon-icons.com_59360.png) no-repeat;
    font-family: 'Cafe Matcha';
    color: #6C63FF;
}

nav a{
    font-style: bold;
    color: var(--light-blue);
    margin: 0 20px;
}
nav a:hover{color: #6C63FF;}



/*
hero
*/
.landing__content {
    height: 90%;
    width: 80%;
}

.landing__content .landing__info{
    width: 60%;
    height: 100%;
}

.landing__info h1{color: var(--light-blue);}

.landing__info p{
    color: var(--light-blue);
    width: 60%;
}

.card__link a{
    background-color: var(--dark-blue);
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
}

.landing__info button{
    
    border: none;
    background: transparent;
    outline: none;
  
}

.landing__info button:active{
    
    transform: translateY(2px);
} 

.landing__info a{
    color: white;
    background-color: #6C63FF;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
}

.image__pet{
    width: 40%;
    height: 100%;
    background: url(imgs/undraw_dog_walking_re_l61p.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* servicios*/
#help{
    width: 80vw;
    max-width: 1200px;
    margin: 3rem auto;
    
}


.help__cards--container{
    display: flex;
    padding: 2rem;
}

#help .help__card{
    position: relative;
    margin: 0 5%;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    padding: 60px 10px;
    
}

.help__card:first-of-type{background-color: #6C63FF;}
.help__card:nth-of-type(2){background-color: #6C63FF;}

#help h1{color: lightblue}
.help__card h3,
.help__card p{ color: white;}

.help__card span{
    position: absolute;
    top: 5%;
    left: 0;
    background: white;
    padding: 5px;
    
}

.help__card:first-of-type span{color: lightblue;}
.help__card:nth-of-type(2) span {color: lightblue;}


.help__card .card__link{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-radius: 10px;
    background: url(imgs/stainless-images-RUgbGfdma6U-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: height 0.5s ease-in-out;
    z-index: 99;
    opacity: 0;
    
}

.help__card .card__link::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    z-index: -1;

}

.help__card:hover .card__link{
    animation: showLink;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes showLink{
    0%{
        opacity: 0;
        height: 0;
    }
    100%{
        opacity: 1;
        height: 100%;
    }
}


/*
carta 2
*/
#help{
    width: 80vw;
    max-width: 1200px;
    margin: 3rem auto;
    
}


.help__cards--container{
    display: flex;
    padding: 2rem;
}

#help .help__card1{
    position: relative;
    margin: 0 5%;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    padding: 60px 10px;
    
}

.help__card1:first-of-type{background-color: #6C63FF;}
.help__card1:nth-of-type(2){background-color: #6C63FF;}


.help__card1 h3,
.help__card1 p{ color: white;}

.help__card1 span{
    position: absolute;
    top: 5%;
    left: 0;
    background: white;
    padding: 5px;
    
}

.help__card1:first-of-type span{color: lightblue;}
.help__card1:nth-of-type(2) span {color: lightblue;}


.help__card1 .card__link{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-radius: 10px;
    background: url(imgs/eric-ward-ISg37AI2A-s-unsplash.jpg);
    background-position: bottom;
    background-size:cover;
    background-repeat: no-repeat;
    transition: height 0.5s ease-in-out;
    z-index: 99;
    opacity: 0;
    
}

.help__card1 .card__link::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    z-index: -1;

}

.help__card1:hover .card__link{
    animation: showLink;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes showLink{
    0%{
        opacity: 0;
        height: 0;
    }
    100%{
        opacity: 1;
        height: 100%;
    }
}




/* quienes somos*/

.image__pet2{
    padding: 60px 0px;
    background: url(imgs/undraw_pet_adoption_-2-qkw.svg);
    background-position: 14% ;
    background-size: contain;
    background-repeat: no-repeat;
}

.quienessomos .container{
    width: 60%;
    height: 100%;
}

.quienessomos p{
    text-align: right;
    color: var(--light-blue);
    height: 90%;
    width: 80%;
}
.quienessomos h1 {
    height: 90%;
    width: 80%;
    color: var(--light-blue);
    text-align: right;
}



/*  FORM */

.container-form{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 10px;
}

.container-form:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("imgs/undraw_contract_re_ves9.svg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
    color: lightblue;
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #6C63FF;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #6C63FF;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: lightblue;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}




/* FOOTER */
footer{
    background-color: #6C63FF;
}

.footer__cont{
    width: 60%;
    margin: auto;
}

.footer__cont p{
    color: white;
}

.footer__cont .fab{
    color: white;
    font-size: 20px;
    margin: 0 10px;
}

/* carga */

.preloader {
    width: 70px;
    height: 70px;
    border: 10px solid #eee;
    border-top: 10px solid #666;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  