<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imgs/filled_pets_icon-icons.com_59360.png">
    <link rel="stylesheet" href="style-adopciones.css" />
    <title>Adoptar</title>
</head>
<body>
<!-- nav -->

<h1 class="logo" > <a href="/">All 4 Pets</a></h1>
<h1 class="cargar"><a href="usuario/cargarMascota">Carga una mascota</a></h1>

    <!--cartas-->
 <table class="table" id="mascotasListadas">
      <tbody>
          <tr  th:each="mascota:${mascota}">
               <td>
    <div class="container">
        <div class="card">
          <div  class="box">
             <img th:src="@{'data:image/jpeg;charset=utf-8;base64,' + mascota.imagen.contenido}" alt="">
            <div class="content">
          
              <h3 th:text="${mascota.tipo}"> </h3>
              <p th:text="${mascota.observacion}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
              <a th:href="@{usuario/perfilAdopciones(id=${mascota.idUsuario})}">Adoptar</a>
            </div>
          </div>
        </div>   
      </div>  
                  </td>
      </tr>
       </tbody>
</body>
</html>



