<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
            <title>Cargar Mascota</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">


                <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

                    <link rel="icon" href="imgs/filled_pets_icon-icons.com_59360.png">

                        <link rel="stylesheet" href="/cargaMascota.css">
                            </head>

                            <body>

                                <div class="wrapper">
                                    <div class="inner">
                                        <form action="cargarMascota" method="POST" enctype="multipart/form-data">
                                            <h3>Cargar Mascota Encontrada</h3>
                                            <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>
                                            <p th:if="${exito != null}" th:text="${exito}" style="color:green;"></p>
                                            <p>Llene los datos sobre la mascota con datos claves</p>
                                            <label class="form-group">
                                                <input type="text" name="tipo" class="form-control"  >
                                                    <span>Raza</span>
                                                    <span class="border"></span>
                                            </label>

                                            <label class="form-group" >
                                                <input placeholder="Incluya la descripcion del animal (GENERO, EDAD, ETC)" name="observacion" class="form-control">
                                                    <span >Mas info</span>
                                                    <span class="border"></span>
                                            </label>
                                            <select name="estado" class="form-control">
                                                <option th:each="estado1 : ${estados}" th:text="${estado1.getNombre()}"></option>
                                            </select>

                                            <label>Suba una imagen</label>
                                            <input type="file" class="form-control" name="archivo"/> 

                                            <button>Cargar 
                                                <i class="zmdi zmdi-arrow-right"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>

                            </body>
                            </html>