<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
            <title>Cargar Mascota</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">


                <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

                    <link rel="icon" href="imgs/filled_pets_icon-icons.com_59360.png">

                        <link rel="stylesheet" href="/cargaMascota.css">
                            </head>

                            <body>

                                <div class="wrapper">
                                    <div class="inner">
                                        <form action="cargar" method="POST" enctype="multipart/form-data">
                                            <h3>Cargar Mascota Encontrada</h3>
                                            <p>Llene los datos sobre la mascota con datos claves</p>
                                            <label class="form-group">
                                                <input type="text" name="tipo" class="form-control"  >
                                                    <span>Raza</span>
                                                    <span class="border"></span>
                                            </label>
                                         
                                            <label class="form-group" >
                                                <input placeholder="Incluya la descripcion del animal (GENERO, EDAD, ETC)" name="observacion" class="form-control">
                                                    <span >Mas info</span>
                                                    <span class="border"></span>
                                            </label>
                                            <select name="estado1" class="opcion">
                                                <option th:each="estado : ${estado}" th:text="${estado.getDisplayValue()}"></option>
                                            </select>
                                            <label class="file">
                                                <div id="div_file">
                                                    <p id="texto">Cargar imagen</p>
                                                    <input type="file" name="archivo" id="btn_enviar"  required>

                                                </div>

                                            </label>
                                            <button>Cargar 
                                                <i class="zmdi zmdi-arrow-right"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>

                            </body>
                            </html>