<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Datos</title>
    <link rel="stylesheet" href="/editarDatosPerfil.css">
    <link rel="icon" href="imgs/filled_pets_icon-icons.com_59360.png">
</head>
<body>
    <form method="POST" action="/usuario/editar" enctype="multipart/form-data" >
        <figure aria-hidden="true">
          <div class="person-body"></div>
          <div class="neck skin"></div>
          <div class="head skin">
            <div class="eyes"></div>
            <div class="mouth"></div>
          </div>
          <div class="hair"></div>
          <div class="ears"></div>
          <div class="shirt-1"></div>
          <div class="shirt-2"></div>
        </figure>
        <h1 class="a11y-hidden">Editar Datos</h1>
        <div>
          <label class="label-email">
            <input type="text" th:value="${session.usuariosession.nombre}" class="text" name="nombre" />
            <span class="required">Nombre</span>
          </label>
        </div>
       
        <div>
            <label class="label-email">
              <input type="text" th:value="${session.usuariosession.telefono}" class="text" name="telefono"   />
              <span class="required">Telefono</span>
            </label>
          </div>

         
        <div>
            <div>
            <label class="label-email">
              <input type="text" class="text" th:value="${session.usuariosession.direccion}" name="direccion" />
              <span class="required">Direccion</span>
            </label>
          </div>
        <div>
            <div>
            <label class="label-email">
              <input type="file" class="text"  name="archivo"   />
              <span class="required">Telefono</span>
            </label>
          </div>
          
              <input type="hidden" th:value="*{session.usuariosession.id}" class="text" name="id" />
              
           
          </div>

          
        <input type="submit" value="Guardar Datos" />
        
        
      </form>
</body>
</html>