<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Datos</title>
    <link rel="stylesheet" href="editarDatosPerfil.css">
    <link rel="icon" href="imgs/filled_pets_icon-icons.com_59360.png">
</head>
<body>
    <form method="" action="" id="login-form" class="login-form" autocomplete="off" role="main">
        <h1 class="a11y-hidden">Editar Datos</h1>
        <div>
          <label class="label-email">
            <input type="text" class="text" name="" placeholder="Nombre" tabindex="1" required />
            <span class="required">Nombre</span>
          </label>
        </div>
       
        <div>
            <label class="label-email">
              <input type="number" class="text" name="" placeholder="Telefono" tabindex="1" required />
              <span class="required">Telefono</span>
            </label>
          </div>

          <div>
            <label class="label-email">
              <input type="email" class="text" name="" placeholder="Email" tabindex="1" required />
              <span class="required">Email</span>
            </label>
          </div>

          <div>
            <label class="label-email">
              <input type="date" class="text" name=""  tabindex="1" required />
              <span class="required">Fecha de nacimiento</span>
            </label>
          </div>
        <input type="submit" value="Guardar Datos" />
        
        <figure aria-hidden="true">
          <div class="person-body"></div>
          <div class="neck skin"></div>
          <div class="head skin">
            <div class="eyes"></div>
            <div class="mouth"></div>
          </div>
          <div class="hair"></div>
          <div class="ears"></div>
          <div class="shirt-1"></div>
          <div class="shirt-2"></div>
        </figure>
      </form>
</body>
</html>