<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="icon" href="imgs/filled_pets_icon-icons.com_59360.png">
    <script src="js/main.js"> </script>

    <title>All 4 Pets</title>
</head>
<body>
    
        <!-- Hero -->
        <section id="landing__area" class="container__center">
            <nav class="center__row">
                <h1 class="logo" > All 4 Pets </h1>
                <ul class="center__row">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#help">Servicios</a></li>
                    <li><a href="#quienessomos">Quienes Somos</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                    <li><a href="usuario/login">Inicia Sesion</a></li>   
                    <!-- darkmode -->
                    <!--

                        <div>
                            <input type="checkbox" class="checkbox" id="chk" />
                            <label class="label" for="chk">
                                <i class="fas fa-moon"></i>
                                <i class="fas fa-sun"></i>
                                <div class="ball"></div>
                            </label>
                        </div> 
                    -->
                    </ul>

            </nav>

            <div class="landing__content center__row">
                <div class="landing__info align__left">
                    <h1>
                        Pet shop <br>
                        Encontra todo para tu mascota
                    </h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error aut ea fuga cum? Odit, sed culpa harum laborum excepturi quibusdam!</p>
                    <button><a href="usuario/login">Ingresa</a></button>

                </div>
                <div class="image__pet"></div>
            </div>
        
        </section>

        <!-- Servicios  -->
        

            <section id="help" class="container__center">
                <h1>Nuestros Servicios</h1>
                <div class="help__cards--container center__row">
                    <div class="help__card container__center">
                        <span class="card__title">Tienda</span>
                        <h3>Agrega al carrito los productos que necesitas</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere quam ex neque.</p>
                        <div class="card__link container__center">
                            <a href="/tienda">Compra Ahora</a>
                        </div>
                    </div>

                    <div class="help__card1 container__center1">
                        <span class="card__title">Adpciones</span>
                        <h3>Agranda tu familia </h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere quam ex neque.</p>
                        <div class="card__link container__center">
                            <a href="/adopciones">Adopta Ahora</a>
                        </div>
                    </div>   
            </div>
       
            



        </section>
        
        <!-- quienes somos -->
        <div id="container">

            <section id="quienessomos">
                <div class="image__pet2"> 

                    
                    <div class="quienessomos container">
                        <div class="quienessomos">
                            <h1>
                                Quienes <br>
                                Somos                        </h1>
                                <p>Lorem ipsum dolor sit amet, <br>
                                    consectetur adipisicing elit.
                                    Error aut <br>
                                     ea fuga cum? Odit, sed culpa harum <br>
                                     laborum excepturi quibusdam!</p>
                                
                                
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
                    
           
                
                
            </section>

        <!-- Contacto -->
       
        <div id="contacto">

            <div class="container-form">
                <div class="contact-box">
                    <div class="left"></div>
                    <div class="right">
                        <h2>Contacto</h2>
                        <input type="text" class="field" placeholder="Nombre completo">
                        <input type="text" class="field" placeholder="Email">
                        <input type="text" class="field" placeholder="Telefono movil">
                        <textarea placeholder="Mensaje" class="field"></textarea>
                        <button class="btn">Enviar</button>
                    </div>
                </div>
            </div>
            
        </div>



        <footer>
            <div class="footer__cont center__row">
                <p>2022 &copyAll4Pets</p>
                <div>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </footer>

       
</body>
</html>