<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Iniciar Sesion</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/style-login.css">
<link rel="icon" href="imgs/filled_pets_icon-icons.com_59360.png">
</head>
<body>


	
		<br>
                    <br>
			
			
		
	
	<div class="main">  	
            <h1 class="logo" > <a href="/">All 4 Pets</a></h1>s
		<input type="checkbox" id="chk" aria-hidden="true">
		
			<div class="signup">
				<form action="usuario/registro" method="POST">
					<label for="chk" aria-hidden="true">Registrarse</label>
                                        <label for="chk" aria-hidden="true" th:if="${error != null}" th:text="${error}" style="color:red;"></label>
                                        <label   th:if="${exito != null}" th:text="${exito}" style="color:green;"></label>
                                      
                                       
					<input type="text"  placeholder="Nombre y apellido"  name="nombre" th:value="${nombre}">
					<input type="email"  placeholder="Email" name="email" th:value="${email}">
					<input type="password"  placeholder="Contraseña" name="pswd" th:value="${pswd}">
					<button>Registrarse</button>
				</form>
			</div>

			<div class="login">
				<form action="/logincheck" method="POST">
					<label for="chk" aria-hidden="true">Iniciar Sesion</label>
                                        <label for="chk" aria-hidden="true" th:if="${error != null}" th:text="${error}" style="color:red;"></label>
					<input type="email" name="email" placeholder="Email/Nombre de usuario" >
					<input type="password" name="pswd" placeholder="Contraseña" >
					<button type="submit">Iniciar Sesion</button>
				</form>
			</div>
			
	</div>
	
</body>
</html>